# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
out/
logs/

# VS Code specific files
.vscode-test/
*.vsix

# Environment files
.env
.env.local

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 